<% content_for :body_class, 'main' %>
<% content_for :body_id,    'main-index' %>
<% content_for :page_title, 'Home' %>

<div class="c12">
  <h1><%= yield :page_title %></h1>
</div> <!-- .c -->

<ul class="c6 med-c12 no-pad">

  <li class="row">
    <div class="c6">

    </div> <!-- .c -->
    <div class="c6">

    </div> <!-- .c -->
  </li>
</ul>

