- content_for :body_class, 'thanks'
- content_for :body_id,    'thanks'
- content_for :page_title, 'Thanks'

.c12
  %h1 = yield :page_title

.c6
  %p
    for taking the time to fill in the survey! If you ticked the box to receive the survey results, I'll be sending them out to you in the next few weeks.
  %p
    If you didn't tick the box but change your mind at any point, shoot me an email, margo@margonline.co.uk
