<% if @survey.questions.any? %>
  <% @survey.questions.each do |question| %>
    <h4><%= "#{question.title}" %></h4>
    <% if question.answers.any? %>
      <% question.answers.each do |answer| %>
        <p><%= answer.id %></p>
      <% end %>
    <% end %>
  <% end %>
<% end %>
