*.db
*.sqlite
*.sqlite3
*.sqlite3-journal
*.tmproj
*~
.#*
.bundle
.DS_Store
.hg/*
.hgignore
.svn/*
config/alchemy.yml
config/database.yml
config/memcached.yml
config/redis.yml
config/newrelic.yml
config/env.yml
db/schema.rb
log/
public/javascripts/bundles/
public/stylesheets/bundles/
public/uploads/*
public/assets
tmp/*
