%table
  %thead
    %tr
      %td Id
      %td Title
      %td Number of Answers

  - @questions.each do |question|
  %tr
    %td = link_to question.id, admin_question_path(question) %>
    %td = question.title %>
    %td = question.answers.count %> 
