<section class="price">
  <h3><%= @question.title %></h3>
  <% if @question.answers.any? %> 
    <ul>
      <% @question.answers_by_possible_answer.each do |pa,count| %>
        <li><%= "#{pa.text}: #{count}" %></li>
        <dd></dd>
      <% end %>
    </ul>
  <% end %>
</section>